li{
  list-style: none;
}
* {
  font-family: Roboto;
}

.results{
}


.text-box {
  width: 250px;
  height: 40px;
  font-size: larger;
}



p, button{
  padding: 0px;
  margin: 0px;
}

#instructions {
  position: absolute;
  margin: 20px;
  width: 25%;
  top: 0;
  left: 300px;
  bottom: 20%;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: scroll;
  font-family: sans-serif;
}

body{
  padding-left: 10px
}

#map{
  width: 300px;
  height: 300px;  
}

#search-results {
  width: 300px;
}

a{
  cursor: pointer;
}

.search-result{
  height: 30px;
  background-color: rgb(216, 216, 216);
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
}