
#text-box {
  width: 300px;
  height: 50px;
  font-size: larger;
}

body{
  padding-left: 10px
}

#search-results {
  width: 300px;
}

a{
  cursor: pointer;
}

.search-result{
  height: 30px;
  background-color: rgb(216, 216, 216);
  justify-content: center;
  
}